<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <!-- Link con css-->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Imagenes-->
    <script
      src="https://kit.fontawesome.com/cbfb350d94.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class="header-main">
      <!-- Padre div-->
      <div class="header-main-block">
        <div class="header-main-logo">
          <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" />
        </div>

        <div class="header-main-search">
          <form class="search">
            <input
              class="text-search"
              type="text"
              placeholder="Buscar productos, marcas y mas"
            />
          </form>
          <!-- Aca va el icono lupa-->
          <i class="fa-solid fa-magnifying-glass icono-buscar"></i>
        </div>
        <div class="header-main-cuotas">
          <h3>
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de credito
          </h3>
        </div>
      </div>

      <!-- Burger-->
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>

      <nav class="navbar">
        <ul class="first-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="second-navbar">
          <li>
            <a href="#">Creá tu cuenta </a><i class="fa-regular fa-id-card"></i>
          </li>
          <li>
            <a href="#">Ingresá </a
            ><i class="fa-solid fa-arrow-right-to-bracket"></i>
          </li>
          <li>
            <a href="#">Mis compras </a
            ><i class="fa-solid fa-basket-shopping"></i>
          </li>
        </ul>
      </nav>
    </header>
    <!--Banner-->
    <div class="banner">
      <img src="/img/img-home-banner.jpg" alt="banner" />
    </div>
    <!-- main-->
    <main>
      <h2>Basado en tu última visita</h2>
      <section>
        <!-- Articulos -->
        <article class="caja-general">
          <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera-moulinex" />

          <div class="caja-dentro">
            <div class="img-carrito">
              <i class="fa-solid fa-truck"></i>
            </div>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <strong><p class="descripciones">Cafetera Moulinex</p></strong>
          </div>
        </article>
        <article class="caja-general">
          <img src="/img/img-macbook-pro-2019.jpg" alt="Macbook-pro-2019" />
          <div class="caja-dentro">
            <div class="img-carrito">
              <i class="fa-solid fa-truck"></i>
            </div>
            <p class="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <strong><p class="descripciones">MacBook Pro 2019</p></strong>
          </div>
        </article>
        <article class="caja-general">
          <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung-galaxy-s10" />
          <div class="caja-dentro">
            <div class="img-carrito">
              <i class="fa-solid fa-truck"></i>
            </div>
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <strong><p class="descripciones">Samsung Galaxy S10</p></strong>
          </div>
        </article>
        <article class="caja-general">
          <img src="/img/img-tv-samsung-smart.jpg" alt="TV-Samsung-smart" />
          <div class="caja-dentro">
            <div class="img-carrito">
              <i class="fa-solid fa-truck"></i>
            </div>
            <p class="precios">$23.200</p>
            <p class="descuentos">5% off</p>
            <strong><p class="descripciones">SmartTv Samsung 43"</p></strong>
          </div>
        </article>
      </section>

      <!-- Seccion2-->
      <h2>Ofertas</h2>
      <section>
        <article class="caja-general">
          <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera-moulinex" />
          <div class="caja-dentro">
            <div class="img-carrito">
              <i class="fa-solid fa-truck"></i>
            </div>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <strong><p class="descripciones">Cafetera Moulinex</p></strong>
          </div>
        </article>
        <article class="caja-general">
          <img src="/img/img-macbook-pro-2019.jpg" alt="Macbook-pro-2019" />
          <div class="caja-dentro">
            <div class="img-carrito">
              <i class="fa-solid fa-truck"></i>
            </div>
            <p class="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <strong><p class="descripciones">MacBook Pro 2019</p></strong>
          </div>
        </article>
        <article class="caja-general">
          <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung-galaxy-s10" />
          <div class="caja-dentro">
            <div class="img-carrito">
              <i class="fa-solid fa-truck"></i>
            </div>
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <strong><p class="descripciones">Samsung Galaxy S10</p></strong>
          </div>
        </article>
        <article class="caja-general">
          <img src="/img/img-tv-samsung-smart.jpg" alt="TV-Samsung-smart" />
          <div class="caja-dentro">
            <div class="img-carrito">
              <i class="fa-solid fa-truck"></i>
            </div>
            <p class="precios">$23.200</p>
            <p class="descuentos">5% off</p>
            <strong><p class="descripciones">SmartTv Samsung 43"</p></strong>
          </div>
        </article>
      </section>
    </main>

    <!-- Footer-->
    <footer>
      <div class="parrafos">
        <div class="iconosFooter">
          <i class="fa fa-solid fa-credit-card"></i>
          <h1>Pagá con tarjeta o en efectivo</h1>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>

        <div class="iconosFooter">
          <i class="fa fa-solid fa-gift"></i>
          <h1>Envío gratis desde $ 2.500</h1>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>

        <div class="iconosFooter">
          <i class="fa fa-solid fa-user-shield"></i>
          <h1>Seguridad, de principio a fin</h1>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </div>
      </div>
      <h1 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h1>
    </footer>
  </body>
</html>
