<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="./img/mercadoLibreIcon.ico"
    />

    <link href="./css/normalize.css" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />
    <link href="./css/forms.css" rel="stylesheet" />

    <script
      src="https://kit.fontawesome.com/cbfb350d94.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Inicio Header-->
    <header class="header-main">
      <!-- Padre div-->
      <div class="header-main-block">
        <div class="header-main-logo">
          <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" />
        </div>

        <div class="header-main-search">
          <form class="search">
            <input
              class="text-search"
              type="text"
              placeholder="Buscar productos, marcas y mas"
            />
          </form>
          <!-- Aca va el icono lupa-->
          <i class="fa-solid fa-magnifying-glass icono-buscar"></i>
        </div>
        <div class="header-main-cuotas">
          <h3>
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de credito
          </h3>
        </div>
      </div>

      <!-- Burger-->
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>

      <nav class="navbar">
        <ul class="first-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="second-navbar">
          <li>
            <a href="./register">Creá tu cuenta </a
            ><i class="fa-regular fa-id-card"></i>
          </li>
          <li>
            <a href="./login">Ingresá </a
            ><i class="fa-solid fa-arrow-right-to-bracket"></i>
          </li>
          <li>
            <a href="#">Mis compras </a
            ><i class="fa-solid fa-basket-shopping"></i>
          </li>
        </ul>
      </nav>
    </header>
    <!-- Header fin -->
    <!-- Inicio form -->
    <main>
      <section class="form-wrapper">
        <form class="form-config" action="">
          <h3>¡Hola! Ingresá tu e-mail o usuario</h3>
          <input
            type="email"
            placeholder="Usuario o e-mail"
            name="nombre-usuario"
            required
          />
          <input
            type="password"
            placeholder="Contraseña"
            name="password"
            required
          />
          <div class="feedback">
            <p>
              <i class="fa-solid fa-triangle-exclamation"></i>Asegúrate de usar
              la contraseña correcta.
            </p>
          </div>
          <button class="btn-submit">Enviar</button>
          <a href="/register">Crear cuenta</a>
        </form>
      </section>
      <!-- Fin form -->
    </main>

    <!-- Inicio Footer -->
    <footer>
      <div class="parrafos">
        <div class="iconosFooter">
          <i class="fa fa-solid fa-credit-card"></i>
          <h1>Pagá con tarjeta o en efectivo</h1>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>

        <div class="iconosFooter">
          <i class="fa fa-solid fa-gift"></i>
          <h1>Envío gratis desde $ 2.500</h1>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>

        <div class="iconosFooter">
          <i class="fa fa-solid fa-user-shield"></i>
          <h1>Seguridad, de principio a fin</h1>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </div>
      </div>
      <h1 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h1>
    </footer>
  </body>
</html>
