* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #ebebeb;
  font-family: "Roboto";
  font-size: 12px;
}
.header-main {
  background-color: #eac926;
  padding: 20px;
}
.header-main-block {
  display: flex;
  flex-direction: row;
  gap: 1.9rem;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.header-main-logo {
  width: 40%;
}
.header-main-cuotas {
  text-align: center;
  padding: 1rem;
}
.header-main-search {
  width: 45%;
  position: relative;
}
.search input {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
}
.icono-buscar {
  position: absolute;
  right: 0.5%;
  color: #666;
  z-index: 2;
  top: 32.5%;
}
h3 {
  font-size: 18px;
  font-weight: 300;
}
.navbar {
  display: none;
}
.burger-menu {
  background-color: #03264c;
  font-size: 18px;
  text-align: center;
  color: white;
  max-width: 50px;
  padding: 12px 0;
  border-radius: 10px;
  margin: auto;
  display: block;
}

/*Banner*/
.banner img {
  width: 100%;
}
/*main*/
main {
  padding: 20px;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
article {
  padding-bottom: 10px;
}
.caja-general {
  background-color: #fff;
  margin: 0.8rem;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.caja-general img {
  width: 100%;
}
.caja-dentro {
  border-top: solid 1px #ebebeb;
  background-color: #fff;
  width: 90%;
}
.img-carrito {
  color: #39b54a;
  display: inline;
  border-radius: 50%;
  padding: 5px;
  border: solid 1px #39b54a;
}
.descripciones {
  display: none;
}

/*Footer*/

footer {
  padding: 20px;
}
footer h1 {
  font-size: 18px;
  text-align: center;
}

footer p {
  text-align: center;
}

footer div.parrafos {
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
}

.copyright {
  font-size: 12px;
  font-weight: 100;
  text-align: left;
  margin-top: 10px;
}

.iconosFooter {
  position: relative;
  font-size: 2rem;
  text-align: center;
  color: #1259c3;
}
@media (min-width: 769px) {
  .header-main-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 0.01;
  }
  .header-main-logo {
    width: 30%;
  }
  .header-main-search {
    width: 30%;
  }
  .header-main-cuotas {
    max-width: 30%;
  }
  .burger-menu {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  .navbar a {
    text-decoration: none;
    color: #666;
    padding: 1.2rem;
    font-size: 16px;
  }
  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .caja-general {
    width: 30vw;
    margin: 2.1rem;
  }
  h2 {
    margin-left: 9rem;
    font-size: 20px;
  }
}
@media (min-width: 1279px) {
  .caja-general {
    width: 20vw;
  }
  h2 {
    margin-left: 2.5rem;
    font-size: 22px;
  }
  .caja-general {
    margin: 1.5rem;
  }
}
